
pagos: <br/> {{ pagos | json}}

<table class="table table-hover mt-4" *ngIf="showLista">
    <thead>
        <tr>
            <th scope="col">Nombre Profecional</th>
            <th scope="col">Descripción</th>
            <th scope="col">Fecha</th>
            <th scope="col">Monto</th>
            <th scope="col">Estado</th>
            <th scope="col">Observación</th>
            <th scope="col">Pagos Honorarios</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr class="table-primary" *ngFor="let item of fakeData">
            <th scope="row">{{ item.nombre }} {{ item.apellido }}</th>
            <td>{{ item.descripcion }}</td>
            <td>{{item.fecha | date:'MMMM'}}</td>
            <td>{{ item.monto | currency: '$ ' | lowercase }}</td>
            <td>
                <div *ngIf="item.estado == 0">
                    Pagado
                </div>
                <div *ngIf="item.estado == 1">
                    Pendiente
                </div>
                <div *ngIf="item.estado == 2">
                    Otro
                </div>
            </td>
            <td>{{ item.observacion }}</td>
            <td>
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked"
                    [(ngModel)]="item.pagoHonorario" disabled>
            </td>
            <td role="group">

                <button type="button" class="btn btn-outline-warning mt-1" (click)="onGoToEdit(item)">Edit</button>
                <button type="button" class="btn btn-outline-warning mt-1"
                    style="margin-left: 10px; margin-right: 10px;" (click)="onGoToSee(item)">See</button>
                <button type="button" class="btn btn-outline-danger mt-1" (click)="onGoToDelete(item)">Delete</button>

            </td>
        </tr>
    </tbody>
</table>

<div class="container" *ngIf="showEdit">
    <app-edit [item]="navigationExtras" (ButtonClick)="clickChild($event)"></app-edit>
</div>

<div class="container" *ngIf="showDetails">
    <app-details [item]="navigationExtras" (ButtonClick)="clickChild($event)"></app-details>
</div>