<h2 class="mt-4 mb-4">Sección details</h2>

{{ element | json }}

<div class="container">
    <button type="button" class="btn btn-primary mt-2 btn-sm col-12" (click)="volver()"> Volver </button>
</div>

<div class="card mt-2">
    <div class="card-header">
        Sección details
    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                Nombre Profecional: <h5> {{ element.nombre }} {{ element.nombre }} </h5>
            </li>
            <li class="list-group-item">
                Descripción: <h5> {{ element.descricion }} </h5>
            </li>
            <li class="list-group-item">
                Fecha: <h5> {{ element.fecha }} </h5>
            </li>
            <li class="list-group-item">
                Monto: <h5> {{ element.monto | currency: '$ ' | lowercase }} </h5>
            </li>
            <li class="list-group-item">
                Estado:
                <h5 *ngIf="element.estado == 0">
                    Pagado
                </h5>
                <h5 *ngIf="element.estado == 1">
                    Pendiente
                </h5>
                <h5 *ngIf="element.estado == 2">
                    Otro
                </h5>
            </li>
            <li class="list-group-item">
                Observación: <h5> {{ element.obserbacion }} </h5>
            </li>
            <li class="list-group-item">
                Pagos Honorarios:
                <h5>
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked"
                        [checked]="element.pagoHonorario != false"
                        disabled>
                </h5>

            </li>
        </ul>
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-outline-warning m-1 btn-sn" (click)="edit()"> Edit </button>
        <button type="button" class="btn btn-outline-danger m-1 btn-sn" (click)="delete()"> Delete </button>
    </div>
</div>

<div class="container">
    <button type="button" class="btn btn-primary mt-2 btn-sm col-12" (click)="volver()"> Volver </button>
</div>